//VARIABLES........................

$black: #000;
$white: #fff;
$white_opacity:rgba(255,255,255,.2);
$white_opacity_50:rgba(255,255,255,.5);
$blue:#016fde;
$dark_blue:#07366a;
$darkest_blue:#081121;
$yellow: #fff000;
$red:red;

$menu_color:#082847;

//END...............................