doctype html
html
	head
		title The Game - Interactive Poker Guide
		meta(charset='utf-8')

		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(href="css/main.css" type="text/css" rel="stylesheet")
		meta(property="og:site_name" content="")
		meta(property="og:url" content="")
		meta(property="og:type" content="website")
		meta(property="og:title" content="")
		meta(property="og:image" content="")
		meta(property="og:description" content="")
	body
		main
			.borders
				span.borders__item.borders__item-horizontal.js-border-horizontal
				span.borders__item.borders__item-horizontal.js-border-horizontal
				span.borders__item.borders__item-vertical.js-border-vertical
				span.borders__item.borders__item-vertical.js-border-vertical
			.nav
				.nav__item.nav__item-menu Menu
				.nav__item.nav__item-poker-hands Poker Hands
				.nav__item.nav__item-social Share
				.nav__item.nav__item-brand 888poker
			.main_cards
				.card.main_card.main_card_1
					.card_wrap
						.card_facedown.card_side Front
						.card_faceup.card_side Back
				.card.main_card.main_card_2
				.card.main_card.main_card_3
				.card.main_card.main_card_4
				.card.main_card.main_card_5
	

	

	script(src="https://code.jquery.com/jquery-2.2.1.min.js")
	script(src="js/PxLoader.js")
	script(src="js/PxLoaderImage.js")
	script(src="js/bundle.js")