doctype html
html
	head
		title The Game - Interactive Poker Guide
		meta(charset='utf-8')

		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(href="css/main.css" type="text/css" rel="stylesheet")
		meta(property="og:site_name" content="")
		meta(property="og:url" content="")
		meta(property="og:type" content="website")
		meta(property="og:title" content="")
		meta(property="og:image" content="")
		meta(property="og:description" content="")
	body
		main
			.borders
				span.borders__item.borders__item-horizontal.js-border-horizontal
				span.borders__item.borders__item-horizontal.js-border-horizontal
				span.borders__item.borders__item-vertical.js-border-vertical
				span.borders__item.borders__item-vertical.js-border-vertical
			include ./includes/main_cards.jade
			.nav
				.nav__item.nav__flex.nav__item-top-left
					.nav__item-menu Menu
				.nav__item.nav__flex.nav__item-top-right.js-poker-hands-menu
					.nav__item-title Poker Hands
					.nav__item-icon Icon
					.btn.btn--close.btn--close__right.js-btn-close-right X
					include ./includes/poker_hands.jade

				.nav__item.nav__flex.nav__item-bottom-left Share
				.nav__item.nav__flex.nav__item-bottom-right 888poker
				.nav__buttons
					.nav__item-back(data-main_cards="options").back--left.js-back Back
					.nav__item-back(data-main_cards="options").back--right.js-back Back

			a(href="#", data-main_cards="options").btn.btn--start.js-start Start
	
	
	script(src="https://code.jquery.com/jquery-2.2.1.min.js")
	script(src="js/PxLoader.js")
	script(src="js/PxLoaderImage.js")
	script(src="js/bundle.js")