doctype html
html
	head
		title The Game - Interactive Poker Guide
		meta(charset='utf-8')

		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(href="css/main.css" type="text/css" rel="stylesheet")
		meta(property="og:site_name" content="")
		meta(property="og:url" content="")
		meta(property="og:type" content="website")
		meta(property="og:title" content="")
		meta(property="og:image" content="")
		meta(property="og:description" content="")
	body
		main
			.borders
				span.borders__item.borders__item-horizontal.borders__item-horizontal--top.js-border-horizontal
				span.borders__item.borders__item-horizontal.borders__item-horizontal--bottom.js-border-horizontal
				span.borders__item.borders__item-vertical.borders__item-vertical--left.js-border-vertical
				span.borders__item.borders__item-vertical.borders__item-vertical--right.js-border-vertical
			include ./includes/main_cards.jade
			.nav
				.nav__item.nav__item-top-left
					.nav__flex.nav__flex-menu.js-open-menu
						.nav__flex-item.nav__item-menu--icon
							span.menu-icon__item.menu-icon--top
							span.menu-icon__item.menu-icon--bottom
						.nav__flex-item.nav__item-menu--title.nav__item-text Menu
					span.borders__item.borders__item-vertical.borders__item-vertical--right.js-nav-border-vertical
					span.borders__item.borders__item-horizontal.borders__item-horizontal--bottom.js-nav-border-horizontal
				.nav__item.nav__item-top-right
					.nav__flex.nav__flex-poker-hands.js-poker-hands-menu
						.nav__flex-item.nav__item-pokerhand--title.nav__item-text Poker Hands
						.nav__flex-item.nav__item-menu--icon
							span.menu-icon__item.menu-icon--top
							span.menu-icon__item.menu-icon--bottom
					.btn.btn--close.btn--close__right.js-btn-close-right X
					include ./includes/poker_hands.jade
					span.borders__item.borders__item-vertical.borders__item-vertical--left.js-nav-border-vertical
					span.borders__item.borders__item-horizontal.borders__item-horizontal--bottom.js-nav-border-horizontal

				.nav__item.nav__flex.nav__item-bottom-left Share
				.nav__item.nav__flex.nav__item-bottom-right 888poker
				.nav__buttons
					.nav__item-back(data-main_cards="options").btn--back.back--left.js-back Back
					.nav__item-back(data-main_cards="options").btn--back.back--right.js-back Back

			a(href="#", data-main_cards="options").btn.btn--start.js-start Start
	
	
	script(src="https://code.jquery.com/jquery-2.2.1.min.js")
	script(src="js/PxLoader.js")
	script(src="js/PxLoaderImage.js")
	script(src="js/bundle.js")