doctype html
html
	head
		title The Game - Interactive Poker Guide
		meta(charset='utf-8')

		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(href="css/main.css" type="text/css" rel="stylesheet")
		meta(property="og:site_name" content="")
		meta(property="og:url" content="")
		meta(property="og:type" content="website")
		meta(property="og:title" content="")
		meta(property="og:image" content="")
		meta(property="og:description" content="")
	body
		main
			.borders
				span.borders__item.borders__item-horizontal.js-border-horizontal
				span.borders__item.borders__item-horizontal.js-border-horizontal
				span.borders__item.borders__item-vertical.js-border-vertical
				span.borders__item.borders__item-vertical.js-border-vertical
			.nav
				.nav__item.nav__item-top-left menu
				.nav__item.nav__item-top-right Poker Hands
				.nav__item.nav__item-bottom-left Share
				.nav__item.nav__item-bottom-right 888poker
			include ./includes/main_cards.jade
			a(href="#", data-main_cards="options").btn.btn--start.js-start Start
	
	
	script(src="https://code.jquery.com/jquery-2.2.1.min.js")
	script(src="js/PxLoader.js")
	script(src="js/PxLoaderImage.js")
	script(src="js/bundle.js")