doctype html
html
	head
		title The Game - Interactive Poker Guide
		meta(name="description" content="Get the inside scoop on how to play the most popular poker games in a few steps")
		meta(charset='utf-8')

		meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui')
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-capable" content="yes")
		<meta name="theme-color" content="#0a2655" />
		link(href="css/main.css" type="text/css" rel="stylesheet")
		
		//- FACEBOOK
		meta(property="og:site_name" content="The Game")
		meta(property="og:url" content="To be confirmed")
		meta(property="og:type" content="website")
		meta(property="og:title" content="The Game - your interactive guide to poker games")
		meta(property="og:image" content="To be confirmed")
		meta(property="og:description" content="Get the inside scoop on how to play the most popular poker games in a few steps")

		//- TWITTER
		meta(name="twitter:card" content="summary")
		meta(name="twitter:site" content="@888poker")
		meta(name="twitter:title" content="The Game - your interactive guide to poker games")
		meta(name="twitter:description" content="Get the inside scoop on how to play the most popular poker games in a few steps")
		meta(name="twitter:creator" content="@888poker")
		meta(name="twitter:image" content="To be confirmed")

	body
		script.
			  window.fbAsyncInit = function() {
			    FB.init({
			      appId      : '503992039800290',
			      xfbml      : true,
			      version    : 'v2.6'
			    });
			  };

			  (function(d, s, id){
			     var js, fjs = d.getElementsByTagName(s)[0];
			     if (d.getElementById(id)) {return;}
			     js = d.createElement(s); js.id = id;
			     js.src = "//connect.facebook.net/en_US/sdk.js";
			     fjs.parentNode.insertBefore(js, fjs);
			   }(document, 'script', 'facebook-jssdk'));
		#main
			.loader
				.loader__wrap
					p Loading...
					span 0
			.backgrounds
				img(src="images/clouds/cloud-front.png", alt="").cloud--front
				img(src="images/clouds/cloud-back.png", alt="").cloud--back
				.gradient--blue
				.noise
			
			include ./includes/main_cards.jade
			.nav
				.nav__item.nav__item-top-left.nav__item--menu
					span.nav__item__bg--top.nav__item__bg--top--left.js-top-bg
					.nav__flex.nav__flex-top.nav__flex-menu.js-open-menu
						.nav__flex-item.nav__item-menu--icon
							img(src="images/icon-globe.svg", alt="")
							.btn.btn--close.btn--close__left.js-btn-close-menu
						.nav__flex-item.nav__item-menu--title.nav__item-text.js-menu-title EN
							

					include ./includes/menu.jade
					.nav__item-back(data-main_cards="options").nav__item-text.btn--back.back--left.js-back
						.btn--back__text 
							span.back--1 <
							span.back--2 Back
				.nav__item.nav__item-top-right.nav__item--hand
					span.nav__item__bg--top.nav__item__bg--top--right.js-top-bg
					.nav__flex.nav__flex-top.nav__flex-poker-hands.js-open-menu
						.nav__flex-item.nav__item-pokerhand--title.nav__item-text.js-menu-title Hands
						.nav__flex-item.nav__item-menu--icon
							img(src="images/icon-hand.svg", alt="")
							.btn.btn--close.btn--close__right.js-btn-close-menu
					include ./includes/poker_hands_menu.jade
					.pdfs
						a(href="http://www.888poker.com/en/poker%20hands%20ranking.pdf" target="_blank").pdf Download PDF |
						a(href="http://www.888poker.com/how-to-play-poker/hands/" target="_blank").pdf--lang Read More
					.nav__item-back(data-main_cards="options").nav__item-text.btn--back.back--right.js-back-hand
						.btn--back__text 
							span.back--2 Back 
							span.back--1 >
				
				.footer__item.nav__item-bottom-left
					.footer__flex
						#sound.footer__flex__item
							.inner__flex.sound_flex
								span.sound__item.sound__item-1
								span.sound__item.sound__item-2
								span.sound__item.sound__item-3
						.footer__info.footer__flex__item
						.share.footer__flex__item
							img(src="images/icon-share.svg", alt="").mobile__share
							.inner__flex.share_flex
								.inner__flex__item.share__title.nav__item-text Share
								a(href="#").inner__flex__item.share__link.facebook
									img(src="images/icon-facebook.svg", alt="")
								a(href="#").inner__flex__item.share__link.twitter
									img(src="images/icon-twitter.svg", alt="")
								a(href="#").inner__flex__item.share__link.pinterest
									img(src="images/icon-pinterest.svg", alt="")
								a(href="https://plus.google.com/share?url='http://www.888poker.com/'" onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;").inner__flex__item.share__link.gplus
									img(src="images/icon-gplus.svg", alt="")
								span.close-share X

				.logo__item.nav__item-bottom-right
					a(href="http://www.888poker.com" target="_blank")
						img(src="images/888poker.png", alt="888poker").poker-logo

			include ./includes/table.jade
			#game
			//- include ./includes/game.jade
			include ./includes/poker_hands.jade
			ul.game__tabs.js-tabs
				li.game__tab.js-tab#js-tab-1(data-section="js-section-intro") Intro
				li.game__tab.js-tab#js-tab-2(data-section="js-section-rules") Rules
				li.game__tab.js-tab#js-tab-3(data-section="js-section-tips") Tips
				li.game__tab.js-tab#js-tab-4(data-section="js-section-play") Play
			.splash
				span.splash-shadow
				.logo
					.logo--1 The
					.letters
						.letter.letter--1 G
						.letter.letter--2 A
						.letter.letter--3 M
						.letter.letter--4 E
				p.intro-text Your full interactive guide to poker games
				p.option-text Choose a game to see details
				a(href="#", data-main_cards="options").btn.btn--start.js-start Start
			
			a(href="/").logo-top
				span The
				h1 Game
			
			#about.about
				.about__wrap
					h3 About
					p The Game is your ultimate interactive guide to poker. Learn all about the five varieties of poker that 888poker(TM) has to offer with this guide including facts, rules and tips.
					p This step-by-step guide will give you a solid introduction to a range of poker games and you’ll playing your first hand in no time.
					span.close-about Close


	
	
	script(src="https://code.jquery.com/jquery-2.2.1.min.js")
	//- script(src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js")

	script(src="js/PxLoader.js")
	script(src="js/PxLoaderImage.js")
	script(src="js/howler.min.js")
	script(src="js/bundle.js")