doctype html
html
	head
		title The Game - Interactive Poker Guide
		meta(charset='utf-8')

		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(href="css/main.css" type="text/css" rel="stylesheet")
		meta(property="og:site_name" content="")
		meta(property="og:url" content="")
		meta(property="og:type" content="website")
		meta(property="og:title" content="")
		meta(property="og:image" content="")
		meta(property="og:description" content="")
	body
		main
			.borders
				span.borders__item.borders__item-horizontal.borders__item-horizontal--top.js-border-horizontal
				span.borders__item.borders__item-horizontal.borders__item-horizontal--bottom.js-border-horizontal
				span.borders__item.borders__item-vertical.borders__item-vertical--left.js-border-vertical
				span.borders__item.borders__item-vertical.borders__item-vertical--right.js-border-vertical
			include ./includes/main_cards.jade
			.nav
				.nav__item.nav__item-top-left
					.nav__flex.nav__flex-top.nav__flex-menu.js-open-menu
						.nav__flex-item.nav__item-menu--icon
							.btn.btn--close.btn--close__left.js-btn-close-menu
							span.menu-icon__item.menu-icon--top
							span.menu-icon__item.menu-icon--bottom
						.nav__flex-item.nav__item-menu--title.nav__item-text Menu
					include ./includes/menu.jade
					.nav__item-back(data-main_cards="options").nav__item-text.btn--back.back--left.js-back
						.btn--back__text Back
					span.borders__item.borders__item-vertical.borders__item-vertical--right.js-nav-border-vertical
					span.borders__item.borders__item-horizontal.borders__item-horizontal--bottom.js-nav-border-horizontal
				.nav__item.nav__item-top-right
					.nav__flex.nav__flex-top.nav__flex-poker-hands.js-open-menu
						.nav__flex-item.nav__item-pokerhand--title.nav__item-text Hands
						.nav__flex-item.nav__item-menu--icon
							.btn.btn--close.btn--close__right.js-btn-close-menu
							span.menu-icon__item.menu-icon--top
							span.menu-icon__item.menu-icon--bottom
					include ./includes/poker_hands.jade
					.nav__item-back(data-main_cards="options").nav__item-text.btn--back.back--right.js-back
						.btn--back__text Back >
					span.borders__item.borders__item-vertical.borders__item-vertical--left.js-nav-border-vertical
					span.borders__item.borders__item-horizontal.borders__item-horizontal--bottom.js-nav-border-horizontal
				

				.footer__item.nav__item-bottom-left
					.footer__flex
						.sound
							.inner__flex.sound_flex
								span.sound__item.sound__item-1
								span.sound__item.sound__item-2
								span.sound__item.sound__item-3
						.share
							.inner__flex.share_flex
								.share__title.nav__item-text Share

				.nav__item.nav__item-bottom-right 888poker

			include ./includes/game.jade

			a(href="#", data-main_cards="options").btn.btn--start.js-start Start
	
	
	script(src="https://code.jquery.com/jquery-2.2.1.min.js")
	script(src="js/PxLoader.js")
	script(src="js/PxLoaderImage.js")
	script(src="js/bundle.js")