doctype html
html
	head
		title The Game - interactive poker guide
		meta(charset='utf-8')

		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(href="css/main.css" type="text/css" rel="stylesheet")
		meta(property="og:site_name" content="")
		meta(property="og:url" content="")
		meta(property="og:type" content="website")
		meta(property="og:title" content="")
		meta(property="og:image" content="")
		meta(property="og:description" content="")
	body
		main
			.border
				span.border-horizontal
				span.border-horizontal
				span.border-vertical
				span.border-vertical
			.nav
				.nav_item.menu Menu
				.nav_item.poker_hands Poker Hands
				.nav_item.social
				.nav_item.brand
			.main_cards
				.card.main_card.main_card_1
					.card_wrap
						.card_facedown.card_side Front
						.card_faceup.card_side Back
				.card.main_card.main_card_2
				.card.main_card.main_card_3
				.card.main_card.main_card_4
				.card.main_card.main_card_5
	

	

	script(src="https://code.jquery.com/jquery-2.2.1.min.js")
	script(src="js/PxLoader.js")
	script(src="js/PxLoaderImage.js")
	script(src="js/bundle.js")