doctype html
html#index-page
	head
		title The Game - an Interactive Poker Guide by 888poker
		meta(name="description" content="Get the inside scoop on how to play the most popular poker games in a few steps")
		meta(charset='utf-8')

		meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui')
		meta(name="mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-capable" content="yes")
		<meta name="theme-color" content="#0a2655" />
		link(href="css/main.css" type="text/css" rel="stylesheet")
		| <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie-only.css"><![endif]-->
		
		//- FACEBOOK
		meta(property="og:site_name" content="The Game")
		meta(property="og:url" content="https://www.888poker.com/poker/the-game")
		meta(property="og:type" content="website")
		meta(property="og:title" content="The Game - your interactive guide to poker games")
		meta(property="og:image" content="https://www.888poker.com/poker/the-game/images/facebook-share.jpg")
		meta(property="og:description" content="Get the inside scoop on how to play the most popular poker games in a few steps")

		//- TWITTER
		meta(name="twitter:card" content="summary")
		meta(name="twitter:site" content="@888poker")
		meta(name="twitter:title" content="The Game - your interactive guide to poker games")
		meta(name="twitter:description" content="Get the inside scoop on how to play the most popular poker games in a few steps")
		meta(name="twitter:creator" content="@888poker")
		meta(name="twitter:image" content="https://www.888poker.com/poker/the-game/images/facebook-share.jpg")

	body
		script.
			  window.fbAsyncInit = function() {
			    FB.init({
			      appId      : '503992039800290',
			      xfbml      : true,
			      version    : 'v2.6'
			    });
			  };

			  (function(d, s, id){
			     var js, fjs = d.getElementsByTagName(s)[0];
			     if (d.getElementById(id)) {return;}
			     js = d.createElement(s); js.id = id;
			     js.src = "//connect.facebook.net/en_US/sdk.js";
			     fjs.parentNode.insertBefore(js, fjs);
			   }(document, 'script', 'facebook-jssdk'));
		#ie
			.ie-wrap
				p Please, update your browser to get full experience of this web application.
				a(href="https://www.microsoft.com/en-gb/WindowsForBusiness/End-of-IE-support") Support for older versions of Internet Explorer ends. 
				img(src="images/icon-ie.png", alt="")

		#main
			.loader
				.loader__wrap
					p Loading...
					span 0
			.backgrounds
				img(src="images/clouds/cloud-front.png", alt="").cloud--front
				img(src="images/clouds/cloud-back.png", alt="").cloud--back
				.gradient--blue
				.noise
			
			include ./includes/main_cards.jade
			include ./includes/nav.jade

			#table
			#game
			include ./includes/poker_hands.jade
			include ./includes/tabs.jade
			.splash
				span.splash-shadow
				.logo
					.logo--1 The
					.letters
						.letter.letter--1 G
						.letter.letter--2 A
						.letter.letter--3 M
						.letter.letter--4 E
				p.intro-text Your full interactive guide to poker games
				p.option-text Choose a game to see details
				a(href="#", data-main_cards="options").btn.btn--start.js-start Start
			
			a(href="/").logo-top
				span The 
				h1.logo-top-title Game Game
			
			include ./includes/about.jade

	include ./includes/scripts.jade