.nav
	.nav__item.nav__item-top-left.nav__item--menu
		//span.nav__item__bg--top.nav__item__bg--top--left.js-top-bg
		//.nav__flex.nav__flex-top.nav__flex-menu.js-open-menu
			.nav__flex-item.nav__item-menu--icon
				img(src="images/icon-globe.svg", alt="")
				.btn.btn--close.btn--close__left.js-btn-close-menu
			.nav__flex-item.nav__item-menu--title.nav__item-text.js-menu-title EN
				

		//include ./menu.jade
		.nav__item-back(data-main_cards="options").nav__item-text.btn--back.back--left.js-back
			.btn--back__text 
				span.back--1 <
				span.back--2 Back
	.nav__item.nav__item-top-right.nav__item--hand
		span.nav__item__bg--top.nav__item__bg--top--right.js-top-bg
		.nav__flex.nav__flex-top.nav__flex-poker-hands.js-open-menu
			.nav__flex-item.nav__item-pokerhand--title.nav__item-text.js-menu-title Hands
			.nav__flex-item.nav__item-menu--icon
				img(src="images/icon-hand.svg", alt="")
				.btn.btn--close.btn--close__right.js-btn-close-menu
		include ./poker_hands_menu.jade
		.pdfs
			a(href="http://www.888poker.com/en/poker%20hands%20ranking.pdf" target="_blank" onClick="_commonjs888.push({'function': 'GoogleAnalytics.Event', 'values': ['HANDS - Download PDF','Button', 'HP','The Game']});").pdf Download PDF |
			a(href="http://www.888poker.com/how-to-play-poker/hands/" target="_blank" onClick="_commonjs888.push({'function': 'GoogleAnalytics.Event', 'values': ['HANDS - Read More','Button', 'HP','The Game']});").pdf--lang Read More
		.nav__item-back(data-main_cards="options").nav__item-text.btn--back.back--right.js-back-hand
			.btn--back__text 
				span.back--2 Back 
				span.back--1 >
	
	.footer__item.nav__item-bottom-left
		.footer__flex
			//- #sound.footer__flex__item
				.inner__flex.sound_flex
					span.sound__item.sound__item-1
					span.sound__item.sound__item-2
					span.sound__item.sound__item-3
			.footer__info.footer__flex__item
			.share.footer__flex__item
				img(src="images/icon-share.svg", alt="").mobile__share
				.inner__flex.share_flex
					.inner__flex__item.share__title.nav__item-text Share
					a(href="#").inner__flex__item.share__link.facebook
						img(src="images/icon-facebook.svg", alt="")
					a(href="#").inner__flex__item.share__link.twitter
						img(src="images/icon-twitter.svg", alt="")
					a(href="#").inner__flex__item.share__link.pinterest
						img(src="images/icon-pinterest.svg", alt="")
					a(href="https://plus.google.com/share?url='https://www.888poker.com/poker/the-game/'" onclick="javascript:window.open(this.href,'','menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;").inner__flex__item.share__link.gplus
						img(src="images/icon-gplus.svg", alt="")
					span.close-share X

	.logo__item.nav__item-bottom-right
		a(href="http://www.888poker.com" target="_blank" itemprop="author")
			img(src="images/888poker.png", alt="888poker").poker-logo