.tables
	.table.texas-holdem-table.js-table
		.table__cards
			each val in [17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1]
				.table__card.js-table-card(class="table__card-#{val}")
					.table-card-wrap
						.card-facedown.card-side
						.card-faceup.card-side
							img(src="images/cards/diamond_1.svg", alt="").card-faceup__image