ul.game__tabs.js-tabs
	li.game__tab.js-tab#js-tab-1(data-section="js-section-intro") Intro
	li.game__tab.js-tab#js-tab-2(data-section="js-section-rules") Rules
	li.game__tab.js-tab#js-tab-3(data-section="js-section-tips") Tips
	li.game__tab.js-tab#js-tab-4(data-section="js-section-play") Play