ul.game__tabs.js-tabs
	li.game__tab.js-tab#js-tab-1(data-section="js-section-intro")= intro
	li.game__tab.js-tab#js-tab-2(data-section="js-section-rules")= rules
	li.game__tab.js-tab#js-tab-3(data-section="js-section-tips")= tips_title
	li.game__tab.js-tab#js-tab-4(data-section="js-section-play")= play