@import 'partials/_app';


//backgrounds

.backgrounds {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	overflow:hidden;
}

.gradient--blue {
	position:absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-25%);
	width: 200%;
	// max-width: 1500px;
	padding-top: 50%;
	opacity:1;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(10,38,85,0.8) 0%, rgba(0,0,0,0) 75%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(10,38,85,0.8) 0%,rgba(0,0,0,0) 75%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(10,38,85,0.8) 0%,rgba(0,0,0,0) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2655', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.cloud--front {
	position:absolute;
	width: 80%;
	top:50%;
	left:-20%;
	transform: translate(0,-50%);
	opacity:.75;
	overflow:hidden;
	// background:red;
	// z-index: 9;
	// pointer-events:none;
}

.cloud--back {
	position:absolute;
	width: 80%;
	// background:red;
	top:30%;
	right:-20%;
	transform: translate(0,-50%);
	opacity:.55;
	overflow:hidden;
	// z-index: 9;
	// pointer-events:none;
}

.noise {
	width: 100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-image: url(../images/bg-noise.png);
}

//MAIN BLOCK.....................
main {
	position:relative;
	width:100%;
	height:100%;
}

//END    .....................




//NAVIGATION.....................


.nav__item {
	position: absolute;
	color:$white_opacity;
	z-index:1;
}

.footer__item {
	position: absolute;
	color:$white_opacity;
	z-index:1;
}

.logo__item {
	position: absolute;
	z-index: 1;
}

.nav__item-top-left {
	top:0;
	left:0;
	height:30px;
	width:65px;
	padding-right:10px;
}
.nav__item-top-right {
	top:0;
	right:0;
	width:85px;
	height:30px;
}	
	.nav__item__bg--top {
		width:0;
		height: 30px;
		background:$blue;
		position: absolute;
		top:0;
		&--right {
			right:30px;
		}
		&--left {
			left:30px;
		}
	}


.nav__item-bottom-left {
	bottom:5px;
	left:5px;
	width:auto;
}

.nav__item-bottom-right {
	bottom: 5px;
	right:10px;
}
	.poker-logo {
		width: 60px;
	}

	.nav__flex {
		width:100%;
		display: flex;
		align-items:center;
		justify-content:space-between;
		cursor:pointer;
		text-transform: uppercase;
		pointer-events:none;
	}
	.footer__flex {
		display: flex;
		align-items:center;
		justify-content:space-between;
	}
	.nav__flex-top {
		opacity: 0;
		pointer-events:none;
		&.show {
			pointer-events:auto;
		}
	}
		.inner__flex {
			display:flex;
			// align-items:flex-end;
			justify-content:space-between;
			width:100%;
			height: 100%;
		}	
			.inner__flex__item {
				margin-right: 5px;
			}

		.sound_flex {
			align-items:flex-end;
		}
		.share_flex {
			align-items:center;
		}
			.share__title {
				text-transform: uppercase;
			}
			.share__link {
				width: 20px;
				height: 20px;
				position:relative;
				img {
					width: 20px;
					// height: 25px;
				}
			}

		.nav__item-text {
			color:$blue;
			font-size:.7em;
			z-index:1;
		}	
			.nav__item-pokerhand--title {
				padding-left:10px;

			}

	.nav__item-back {
		height:30px;
		position:absolute;
		top:0;
		width:70px;
		background:$yellow;
		color:$dark_blue;
		pointer-events:none;
		opacity:0;
		cursor:pointer;
		&.show {
			pointer-events:auto;
		}
	}
		.btn--back__text {
			position: absolute;
			width:100%;
			text-align: center;
			top:50%;
			left:50%;
			font-family: '888demibold';
			transform:translate(-50%,-50%);
			text-transform: uppercase;
		}
	
	.back--left {
		left:100%;
	}

	.back--right {
		right:100%;
	}

	.nav__list {
		position:absolute;
		width:100%;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		pointer-events: none;
		opacity:0;
		// overflow-y: auto;
		text-align:center;
		-webkit-mask-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0)),color-stop(.15,rgba(0,0,0,1)),color-stop(.85,rgba(0,0,0,1)),color-stop(1,rgba(0,0,0,0)));
		&.show {
			pointer-events: auto;
		}
	}

	.poker-hands__list {
		height: 70%;
		max-height:580px;
	}

		.nav__list__item {
			margin:20px auto;
			opacity: 1;
			width:50%;
			transform:scale(1);
			transition:transform .2s ease-in-out, opacity .2s ease-in-out;
			cursor:pointer;
			will-change: transform;
			&:hover {
				// opacity: 1;
				// transform:scale(1.2);
				/*.nav__list__item-title:after {
					width:35%;
				}*/
			}
		}
			.nav__list__item--flex {
				display:flex;
				align-items:center;
			}
				.menu-language__image {
					width: 25px;
					border-radius:50%;
					border:2px solid $blue;
					background: $blue;
				}
				.poker-hands-menu__card{
					width: 20px;
					height: 30px;
					background:$white;
					border-radius:3px;
					margin-right: 2px;
					box-shadow:0 0 10px rgba(8,40,71,.2);
					img {
						width:35%;
						position: absolute;
						top:10%;
						left:10%;
					}
				}
					.hands-menu__card--nomove {
						position:relative;
					} 
					.hands-menu__card--move {
						position: absolute;
						top:50%;
						left:0;
						transform:translate(0,-50%);
					}

				.nav__list__item-title {
					color:$white;
					font-size:.9em;
					font-weight: 100;
					position:relative;
					margin-left:10px;
					/*&:after {
						content:'';
						display: block;
						width:0;
						height:1px;
						background:$blue;
						position: absolute;
						left:50%;
						top:101%;
						transform:translate(-50%,0);
						transition:width .2s ease-in-out;
						will-change:width;
					}*/
				}
			
		.footer__flex__item {
			margin-right: 5px;
		}
		.sound {
			width:25px;
			height:25px;
			padding:5px 8px;
			transition:opacity .2s ease-in-out;
			cursor: pointer;
			will-change:opacity;
			&:hover {
				opacity: 1;
			}
		}
				.sound__item {
					width: 2px;
					height: 5%;
					bottom:0;
					background:$blue;
				}
				.sound__item-1 {
					height: 75%;
					animation: sound-item 1s infinite ease-in-out;
				}
				.sound__item-2 {
					height: 100%;
					animation: sound-item 1s infinite ease-in-out .4s;
				}
				.sound__item-3 {
					height: 50%;
					animation: sound-item 1s infinite ease-in-out .2s;
				}
		
		.footer__info {
			width:20px;
			height: 20px;
			border:2px solid $blue;
			border-radius:50%;
			cursor:pointer;
			position:relative;
			&:after {
				content: "i";
				font-family: "Times Roman";
				font-weight: 700;
				font-style:italic;
				position: absolute;
				top:50%;
				font-size: .8em;
				left:50%;
				transform:translate(-50%,-50%);
				color: $blue;
			}
		}


//END................................


// POKER HANDS SCREEN
	
.poker-hands__description {
	display:flex;
	flex-direction: column;
	position:absolute;
	width: 30%;
	max-width:500px;
	max-height: 400px;
	height:70%;
	overflow:hidden;
	top: 50%;
	left: 75%;
	transform:translate(-50%,-50%);
	pointer-events:none;
	opacity:0;
	color:$white;
	counter-increment: hand_desc;
	&--title {
		flex: 0 0 auto;
		text-transform: uppercase;
		font-family: '888medium';
	}
	&--rank {
		color: $blue;
		&:after {
			content: counter(hand_desc);
		}
	}
	&--subtitle {
		font-family: '888thin';
	}
	&--text {
		-webkit-mask-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0)),color-stop(.15,rgba(0,0,0,1)),color-stop(.85,rgba(0,0,0,1)),color-stop(1,rgba(0,0,0,0)));
		overflow: auto;
		padding: 20px 15px 20px 0;
		font-size: .85em;
		opacity: .75;
		flex:1 0 auto;
	}
	.stage__navigation {
		flex: 0 0 auto;
	}
	&.active {
		pointer-events:auto;
	}
}






//MENU ICON...........................
.nav__item-menu--icon {
	width:30px;
	height:30px;
	position:relative;
	background:$blue;
	img {
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		width:50%;
	}
}
	
	/*.menu-icon__item {
		position:absolute;
		width:50%;
		height: 1px;
		background-color:$white;
		left:50%;
		transform:translate(-50%,-50%);
		pointer-events:none;
	}
	.menu-icon--top {
		bottom:55%;
	}
	.menu-icon--bottom {
		top:55%;
	}*/

//END................................



//MAIN_CARDS..........................
.main-cards {
	width:90%;
	max-width: 1080px;
	height:100%;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	pointer-events:none;
	&.active {
		pointer-events:auto;
	}
}
.main-cards__item {
	position: absolute;
	width:18%;
	padding-top:25%;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	cursor:pointer;
	z-index: 0;
	&.index {
		z-index:1;
	}
}
//..............END

//CARDS SHADOW
	
.main-card--shadow {
	position:absolute;
	width:100%;
	padding-top: 15%;
	top: 105%;
	pointer-events:none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100&1+0,0+100 */
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.5) 10%, rgba(0,0,0,0) 70%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.5) 10%,rgba(0,0,0,0) 70%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(0,0,0,0.5) 10%,rgba(0,0,0,0) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.main-card--glow {
	opacity:0;
	position:absolute;
	width: 250%;
	padding-top:250%;
	top:50%;
	pointer-events:none;
	left:50%;
	transform: translate(-50%, -50%);

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#186dc3+0,ffffff+100&1+0,0+100 */
	background: -moz-radial-gradient(center, ellipse cover, rgba(24,109,195,1) 0%, rgba(24,109,195,0) 70%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(24,109,195,1) 0%,rgba(24,109,195,0) 70%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(24,109,195,1) 0%,rgba(24,109,195,0) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#186dc3', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


// CARD FLIPPER
.card {
	perspective: 1000;
	border-radius: 5px;
	.main-card-wrap {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		transform-style: preserve-3d;
		transition: transform .6s ease-in-out;
	}
	.table-card-wrap {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		transform-style: preserve-3d;
		transition: transform .6s ease-in-out;
	}
}

.card-side {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	backface-visibility: hidden;
}

.card-facedown {
	transform: rotateY(0deg);
	background-color:#fff;
	background-image: url('../images/card_rare.svg');
	background-size: 85% auto;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 5px;
}
.card-faceup {
	background-color: green;
	transform: rotateY(180deg);
	border-radius: 5px;
	background-color: #fff;
}

.card-faceup__image {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:85%;
}


// END FLIP

//START BUTTON...................

.btn--start {
	position: absolute;
	bottom: 40px;
	left:50%;
	transform:translate(-50%, 0);
	pointer-events:auto;
	padding: 8px 30px;
	background: $yellow;
	font-family: '888demibold';
	border-radius:5px;
	color: $dark_blue;
	&.hide {
		pointer-events:none;
	}
}

.btn--close {
	position:absolute;
	background-color:$yellow;
	width:30px;
	height:30px;
	&:after {
		content:'X';
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		color: $dark_blue;
		font-family: "888medium";
		font-size: .8em;
	}
}
.btn--close__left {
	left:-100%;
}
.btn--close__right {
	left:100%;
}

//END BUTTONS..................




//GAME..........................
// games style here

.game {
	color:#fff;
	position:absolute;
	width:50%;
	top:0;
	right:0;
	height: 100%;
	pointer-events:none;
	&.active {
		pointer-events:auto;
	}
}	

	.game__section {
		position: absolute;
		width:100%;
		height: 100%;
		top:0%;
		left:0%;
		opacity: 0;
		// background:green;
		pointer-events:none;
		&.active {
			pointer-events:auto;
		}
	}


	.game__tabs {
		display: flex;
		position: fixed;
		left:50%;
		bottom:5%;
		z-index: 1;
		transform:translate(-50%,0);
		opacity: 0;
	}
		.game__tab {
			padding:10px 20px;
			background:$blue;
		}

		.game__stages__navigation {
			display: flex;
			flex-flex-direction:column;
			display: flex;
			flex-direction:column;
			align-items:center;
			justify-content:space-between;
			position: absolute;
			top:50%;
			transform:translate(0,-50%);
			right:0px;
			height: 90%;
			max-height: 250px;
		}
			
			.stages__nav__title {
				width:30px;
				height:90px;
				color:$white;
				position: relative;
				flex: 0 0 auto;
			}
				.stages__nav__title-inner {
					position: absolute;
					top:50%;
					left:50%;
					transform:translate(-50%, -50%) rotate(-90deg);
				}

			.game__stages {
				display: flex;
				flex-direction:column;
				align-items:center;
				justify-content:space-between;
				flex: 1 0 auto;
			}

				.stage__item {
					width: 10px;
					height: 10px;
					background:$white;
					border-radius: 50%;
					cursor: pointer;
					&:hover {
						transform:scale(1.2);
					}
					&.focus {
						background:orange;
					}
					&.active {
						background:red;
					}
				}


		.game__stage {
			position: absolute;
			display: flex;
			flex-direction: column;
			justify-content: inherit;
			width: 75%;
			height: 35%;
			max-height: 600px;
			top:50%;
			left:50%;
			transform:translate(-50%, -50%);
			opacity: 0;
			overflow: hidden;
			pointer-events:none;
			&.active {
				pointer-events:auto;
			}
		}	

			.stage__title {
				flex: 0 0 auto;
			}

			.steps__navigation {
				flex: 0 0 auto;
				display:flex;
				justify-content:space-between;
				width:50%;
			}
				.steps__nav__item {
					width:20px;
					height: 20px;
					background:$white;
					border-radius: 50%;
					position: relative;
					cursor:pointer;
					counter-increment: step;  
					&:hover {
						transform:scale(1.2);
					}
					&:after {
						content: counter(step);
						position: absolute;
						top:50%;
						left:50%;
						transform:translate(-50%,-50%);
						color:red;
					}
					&.focus {
						background:yellow;
					}
					&.active {
						background:tomato;
					}
				}

			.stage__steps {
				position: relative;
				overflow: hidden;
				flex: 1 0 auto;
				-webkit-mask-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0)),color-stop(.15,rgba(0,0,0,1)),color-stop(.85,rgba(0,0,0,1)),color-stop(1,rgba(0,0,0,0)));
			}
				.stage__step {
					display: none;
					overflow: scroll;
					height: 100%;
					position: absolute;
					top:0;
					opacity: 0;
					pointer-events:none;
					&.active {
						pointer-events:auto;
					}
				}


		// NAV DIRECTION BUTTONS
			.stage__navigation {
				display: flex;
				flex: 0 0 auto;
				margin:10px 0;
			}
				.stage__nav__item {
					padding: 5px 10px;
					font-size:.9em;
					display: flex;
					align-items:center;
					cursor:pointer;
				}
				.nav-prev {
					background: $blue;
					opacity: .5;
					transition: opacity .2s ease-in-out;
					will-change:opacity;
					margin-right:3px;
					&:hover {
						opacity: 1;
					}
				}
				.nav-next {
					background: $blue;
					opacity: .75;
					transition: opacity .2s ease-in-out;
					will-change:opacity;
					.nav-next__span-1 {
						font-size:.8em;
						margin-right: 5px;
					}
					&:hover {
						opacity: 1;
					}
				}







//TABLE SECTION 
.tables {
	width:50%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	pointer-events: none;

}

.table {
	position:absolute;
	width:95%;
	padding-top:70%;
	background:$black;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	border: 3px solid $white_opacity;
	border-radius: 20px;
	// pointer-events:none;
	opacity: 0;
}
	
	.table__card {
		position: absolute;
		width:12.2%;
		padding-top:17%;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		z-index: 0;
	}

	.table__stages {
		position: absolute;
		top:0;
	}

		.table__stage {
			opacity: 0;
			pointer-events:none;
			&.show {
				pointer-events:auto;
			}
		}
			
			.table__steps {
				display: flex;
			}

				.table__step {
					width: 25px;
					height:25px;
					background: $white;
					border-radius:50%;
					position: relative;
					counter-increment: table_step;  
					&:after {
						content: counter(table_step);
						position: absolute;
						top:50%;
						left:50%;
						transform:translate(-50%, -50%);
						color: $black;
					}
					&.focus {
						background:yellow;
					}
					&.active {
						background: tomato;
					}
				}




