@import 'partials/_app';


//MAIN BLOCK.....................
main {
	position:relative;
	width:100%;
	height:100%;
}

//END    .....................

// BORDERS .....................
.borders__item {
	display: block;
	position:absolute;
	background:$white_opacity;
	&-horizontal {
		width:0;
		height: 1px;
	}
	&-vertical {
		width:1px;
		height: 0;
	}
	&:nth-child(1) {
		left:0;
		top:0;
	}
	&:nth-child(2) {
		right:0;
		bottom:0;
	}
	&:nth-child(3) {
		left:0;
		bottom:0;
	}
	&:nth-child(4) {
		right:0;
		top:0;
	}
}
// END BORDERS.....................



//NAVIGATION.....................

.nav__item {
	position: absolute;
	padding: 8px;
	color:$white_opacity;
}

.nav__item-top-left {
	top:0;
	left:0;
	border-right:1px solid $white_opacity;
	border-bottom:1px solid $white_opacity;
}
.nav__item-top-right {
	top:0;
	right:0;
	border-left:1px solid $white_opacity;
	border-bottom:1px solid $white_opacity;
}
.nav__item-bottom-left {
	bottom:0;
	left:0;
}
.nav__item-bottom-right {
	bottom: 0;
	right:0;
}
//END................................




//MAIN_CARDS..........................
.main-cards {
	width:90%;
	max-width: 1080px;
	height:100%;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	pointer-events:none;
	&.active {
		pointer-events:auto;
	}
}
.main-cards__item {
	position: absolute;
	width:18%;
	padding-top:25%;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	cursor:pointer;
	z-index: 0;
	&.index {
		z-index:1;
	}
}

//..............END



// CARD FLIPPER
.card {
	perspective: 1000;
	border-radius: 5px;
	.card-wrap {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		transform-style: preserve-3d;
		transition: transform .6s ease-in-out;
	}
}

.card-side {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	backface-visibility: hidden;
}

.card-facedown {
	transform: rotateY(0deg);
	background-color:#fff;
	background-image: url('../images/card_rare.svg');
	background-size: 85% auto;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 5px;
}
.card-faceup {
	background-color: green;
	transform: rotateY(180deg);
	border-radius: 5px;
	background-color: #fff;
}


// END FLIP

//START BUTTON...................

.btn--start {
	position: absolute;
	bottom: 40px;
	left:50%;
	transform:translate(-50%, 0);
}



