@import 'partials/_app';


//MAIN BLOCK.....................
main {
	position:relative;
	width:100%;
	height:100%;
}

//END    .....................

// BORDERS .....................
.borders__item {
	display: block;
	position:absolute;
	background:$white_opacity;
	&-horizontal {
		width:0;
		height: 1px;
	}
	&-vertical {
		width:1px;
		height: 0;
	}
	&-horizontal--top {
		left:0;
		top:0;
	}
	&-horizontal--bottom {
		right:0;
		bottom:0;
	}
	&-vertical--left {
		left:0;
		bottom:0;
	}
	&-vertical--right {
		right:0;
		top:0;
	}
}
// END BORDERS.....................



//NAVIGATION.....................


.nav__item {
	position: absolute;
	color:$white_opacity;
}

.footer__item {
	position: absolute;
	color:$white_opacity;
}

.nav__item-top-left {
	top:0;
	left:0;
	height:30px;
	width:80px;
	padding-right:10px;
}
.nav__item-top-right {
	top:0;
	right:0;
	width:80px;
	height:30px;
	padding-left:10px;
}	

.nav__item-bottom-left {
	bottom:0;
	left:0;
	width:auto;
}

.nav__item-bottom-right {
	bottom: 0;
	right:0;
}

	.nav__flex {
		width:100%;
		display: flex;
		align-items:center;
		justify-content:space-between;
		cursor:pointer;
		text-transform: uppercase;
		pointer-events:none;
	}
	.footer__flex {
		display: flex;
		align-items:center;
		justify-content:space-between;
		text-transform: uppercase;
	}
	.nav__flex-top {
		opacity: 0;
		pointer-events:none;
		&.show {
			pointer-events:auto;
		}
	}
		.inner__flex {
			display:flex;
			align-items:flex-end;
			justify-content:space-between;
			width:100%;
			height: 100%;
		}

		.nav__item-text {
			color:$white;
			font-size:.7em;
		}

	.nav__item-back {
		height:30px;
		position:absolute;
		top:0;
		width:70px;
		background:$blue;
		color:$white;
		pointer-events:none;
		opacity:0;
		&.show {
			pointer-events:auto;
		}
	}
		.btn--back__text {
			position: absolute;
			width:100%;
			text-align: center;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
			text-transform: uppercase;
		}
	
	.back--left {
		left:100%;
	}

	.back--right {
		right:100%;
	}

	.nav__list {
		position:absolute;
		width:100%;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		pointer-events: none;
		opacity:0;
		max-height:70%;
		padding:10% 0;
		overflow-y: auto;
		text-align:center;
		-webkit-mask-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0)),color-stop(.15,rgba(0,0,0,1)),color-stop(.85,rgba(0,0,0,1)),color-stop(1,rgba(0,0,0,0)));
		&.show {
			pointer-events: auto;
		}
	}
		.nav__list__item {
			margin:20px 0;
			opacity: .5;
			transform:scale(1);
			transition:transform .2s ease-in-out, opacity .2s ease-in-out;
			cursor:pointer;
			will-change: transform;
			&:hover {
				opacity: 1;
				transform:scale(1.2);
				.nav__list__item-title:after {
					width:35%;
				}
			}
		}
			.nav__list__item-title {
				color:$white;
				font-size:.9em;
				font-weight: 100;
				position:relative;
				widows: available;
				&:after {
					content:'';
					display: block;
					width:0;
					height:1px;
					background:$blue;
					position: absolute;
					left:50%;
					top:101%;
					transform:translate(-50%,0);
					transition:width .2s ease-in-out;
					will-change:width;
				}
			}

		.sound {
			width:25px;
			height:25px;
			opacity: .5;
			padding:5px 8px;
			transition:opacity .2s ease-in-out;
			cursor: pointer;
			will-change:opacity;
			&:hover {
				opacity: 1;
			}
		}
				.sound__item {
					width: 1px;
					height: 5%;
					bottom:0;
					background:$white;
				}
				.sound__item-1 {
					height: 75%;
					animation: sound-item 1s infinite ease-in-out;
				}
				.sound__item-2 {
					height: 100%;
					animation: sound-item 1s infinite ease-in-out .4s;
				}
				.sound__item-3 {
					height: 50%;
					animation: sound-item 1s infinite ease-in-out .2s;
				}



//END................................

//MENU ICON...........................
.nav__item-menu--icon {
	width:30px;
	height:30px;
	position:relative;
}
	.menu-icon__item {
		position:absolute;
		width:50%;
		height: 1px;
		background-color:$white;
		left:50%;
		transform:translate(-50%,-50%);
		pointer-events:none;
	}
	.menu-icon--top {
		bottom:55%;
	}
	.menu-icon--bottom {
		top:55%;
	}

//END................................



//MAIN_CARDS..........................
.main-cards {
	width:90%;
	max-width: 1080px;
	height:100%;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	pointer-events:none;
	&.active {
		pointer-events:auto;
	}
}
.main-cards__item {
	position: absolute;
	width:18%;
	padding-top:25%;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	cursor:pointer;
	z-index: 0;
	&.index {
		z-index:1;
	}
}
//..............END



// CARD FLIPPER
.card {
	perspective: 1000;
	border-radius: 5px;
	.card-wrap {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		transform-style: preserve-3d;
		transition: transform .6s ease-in-out;
	}
}

.card-side {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	backface-visibility: hidden;
}

.card-facedown {
	transform: rotateY(0deg);
	background-color:#fff;
	background-image: url('../images/card_rare.svg');
	background-size: 85% auto;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 5px;
}
.card-faceup {
	background-color: green;
	transform: rotateY(180deg);
	border-radius: 5px;
	background-color: #fff;
}

.card-faceup__image {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:85%;
}


// END FLIP

//START BUTTON...................

.btn--start {
	position: absolute;
	bottom: 40px;
	left:50%;
	transform:translate(-50%, 0);
	pointer-events:auto;
	&.hide {
		pointer-events:none;
	}
}

.btn--close {
	position:absolute;
	background-color:$blue;
	width:0px;
	height:30px;
}
.btn--close__left {
	left:0;
}
.btn--close__right {
	right:0;
}


